<barra-de-navegacao></barra-de-navegacao>
<div class="container pt-3 pb-3">
    <p class="text-primary">Cadastro de Bancos</p>
    <div *ngIf="validateRole('ROLE_BANCO_ADD')" class="col-12 d-flex flex-row justify-content-between mb-3">
        <div class="d-flex flex-row">
            <button class="btn btn-primary me-2" (click)="goTo(routerEnum.NOVO_REGISTRO)">Cadastrar novo Banco</button>
        </div>
    </div>

    <responsive-table 
    *ngIf="showTable"
    titulo="Total de registros: {{ bancos.totalElements }}"
    [dataN]="bancos.content"
    [columnsN]="columnsTable"
    [pageSizeN]="bancos.size"
    [totalItens]="bancos.totalElements"
    (pageNav)="pageNav($event)"
    (changeQtdItensNav)="changeQtdItensNav($event)"
    (clickBuscar)="tableFilter($event)"
    (clickBtnLimparFiltro)="limparFiltro($event)"
    (clickBtnDelete)="delete($event)"
    (clickBtnEdit)="edit($event)"
    [btnEdit]="validateRole('ROLE_BANCO_EDT')"
    [btnDelete]="validateRole('ROLE_BANCO_DEL')"
    >        
    </responsive-table>

</div>