<barra-de-navegacao></barra-de-navegacao>
<div class="container pt-3">
    <p class="text-primary">Cadastro de Bancos</p>
    <div class=" col-12 d-flex flex-row justify-content-between mb-3">
        <div class=" col-6 d-flex flex-row">
            <input type="email" class="form-control" placeholder="Pesquisar">
        </div>
        <div class="d-flex flex-row">
            <button class="btn btn-primary me-2">Novo</button>
            <button class="btn btn-danger">Excluir</button>
        </div>
    </div>

</div>