<div class="container pt-3 d-flex justify-content-center align-items-center col-sm-12">
    <form [formGroup]="formLogin" (ngSubmit)="onSubmitLogin()">
        <p class="fw-bolder fs-3 text mb-10">Autenticação</p>
        <div class="row mb-3">
            <label class="col-sm-4 col-form-label">Usuário</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" formControlName="formControlUser">
            </div>
        </div>
        <div class="row mb-3">
            <label class="col-sm-4 col-form-label">Senha</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" formControlName="formControlPass">
            </div>
        </div>
        <div class="row mt-10">
            <button class="btn btn-primary" type="submit">Entrar</button>
        </div>
    </form>
</div>